html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #202020;
}
.logo-img{
    width: 75px;

}

header{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
}

.index-div ul{
   display: flex;
   list-style-type: none;
   justify-content: center;
   align-items: center;
   gap: 2em;
   font-size: 1.4em;
    
}

.index-div ul li{
    cursor: pointer;
    position: relative;
}
.index-div ul li::before{
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    background-color: white;
    bottom: -2px;
    transition: 0.2s;
}


.index-div ul li:hover::before{
    width: 100%;
}

