

.sec_1{
    background-image: url(./images/tshirt.jpg);
    width: 100%;
    height: 80vh;
    
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
   
    
}

.left-sec-div{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    width: fit-content;
   
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    min-height: 100%;
}
.left-sec-div h2{
    color: white;
    margin-top: -1em;
}
.left-sec-div h1{
    font-size: 2em;
    color: rgb(59, 53, 53);
}
.left-sec-div h6{
    color: rgb(205, 203, 203);
    font-size: 0.6em;
}

.buy-button_1{
    background: url(./images/button.png);
    background-size: fill;
    filter:brightness(100);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: white;
    
    font-size: 0.6em;
    font-weight: bold;
    width:200px;
   
    height: 50px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.buy-button_1:hover{

 
   transform: translatey(-5px) scale(1.05) rotate(-3deg);

}

.fa-cart-shopping{
    
    color: rgb(40, 195, 40);
}
